<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UsersCRUD.WebUI</title>
    <link rel="stylesheet" href="~/lib/main.css" asp-append-version="true" />
  </head>
  <body class="min-h-full">
    <header class="container mx-auto relative h-20">
      <div
        class="absolute bg-red-400 h-40 w-full rounded-[50%] -translate-y-[50%]"
      ></div>
    </header>
    <main class="container mx-auto py-12">@RenderBody()</main>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
