@{ ViewData["Title"] = "Home Page"; }

<ul class="h-full w-full gap-4 flex flex-wrap justify-center">
  @foreach (var user in Model.Users) {
  <li class="border-2 border-gray-300 rounded-lg w-[20rem]">
    <a asp-route-id="@user.Id" asp-controller="Users" asp-action="Edit" class="block w-full h-full p-4">
      <span class="font-bold pb-0">@user.Name @user.Surname</span>
			<p class="font-bold text-gray-400 text-sm">DNI @user.DNI</p>
    </a>
  </li>
  }
</ul>

<div class="flex justify-center mt-4">
  <a
    asp-action="New"
    asp-controller="Users"
    class="border-2 border-green-400 text-green-400 px-4 py-2 rounded"
    >New</a>
</div>
