@{
    ViewData["Title"] = "Home Page";
}

<ul class="grid h-full w-full"></ul>
<div class="flex justify-center">
	<a asp-action="New" asp-controller="Users" class="border-2 border-green-400 text-green-400 px-4 py-2 rounded">New</a>
</div>
